.imageWrapper {
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.marker {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.6);
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    transform: translate(-50%, -50%);
    transition: .5s;
    cursor: pointer;
}

.marker:hover {
    border-color: rgba(255, 255, 255, 0.5);
}

.marker:after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .5s;
}

.marker:hover:after {
    width: 8px;
    height: 8px;
}

.markerForm {
    position: absolute;
    padding: 20px 10px;
    background: #fff;
    border: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: opacity .5s, visibility .5s;
    max-width: 200px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.markerForm * {
    max-width: 100%;
}

.markerForm_active {
    opacity: 1;
    visibility: visible;
}

.marker:before {
    content: '';
    border: 5px solid #fff601;
    background: transparent;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    -webkit-animation: pulse 3s ease-out;
    animation: pulse 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transform: translate(-50%, -50%);
}


@keyframes pulse {
    0 {
        transform: translate(-50%, -50%) scale(0);
        opacity: .0;
    }

    25% {
        transform: translate(-50%, -50%) scale(0);
        opacity: .1;
    }

    50% {
        transform: translate(-50%, -50%) scale(0.1);
        opacity: .3;
    }

    75% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: .5;
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: .0;
    }
}